<template name="event">

  {{> header}}


  <div class="container">

    <div class="row">

      <div class="md-col-12">
        <a href="/form" class="btn btn-lg btn-default">Join This Event!</a>
        <button id="makeTeams" class="btn btn-lg btn-default">Make Teams</button>
      </div>

    </div>

    <div class="row">
      <div class="md-col-4">
        <table class="table table-striped">
          <tbody>
            {{ participants }}
          </tbody>
        </table>
      </div>
    </div>


  </div>


  {{> footer}}

</template>
