<template name="form">

  {{> header}}

  <form>
    <div class="form-group">
        <input type="name" class="form-control" id="inputName" placeholder="Name?  ex. Matt Smith">
    </div>
    <div class="form-group">
        <input type="phoneNumber" class="form-control" id="inputNumber" placeholder="Phone Number?   ex. 5551234566">
    </div>

  <h2>So what are you interested in?</h2>
  <h4>Not very interested  to  I'm all about that life </h4>
  <div class="container">

    <div class="row">
      <div class="col-md-5">
        Web Development
      </div>
      <div class="col-md-6" id="webDevSlider"></div>
      <div class="col-md-1">
        <input type="text" id="webVal" class="sliderVal" readonly style="color:#000000;">
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        Data Science
      </div>
      <div class="col-md-6" id="DataScienceSlider"></div>
      <div class="col-md-1">
        <input type="text" id="dataSciVal" class="sliderVal" readonly style="color:#000000;">
      </div>
    </div>

  <div class="row">
    <div class="col-md-5">
      Virtual Reality
    </div>
    <div class="col-md-6" id="virtualRealitySlider"></div>
    <div class="col-md-1">
      <input type="text" id="VRVal" class="sliderVal" readonly style="color:#000000;">
    </div>
  </div>

    <div class="row">
      <div class="col-md-5">
        Hardware
      </div>
      <div class="col-md-6" id="hardwareSlider"></div>
      <div class="col-md-1">
        <input type="text" id="hardwareVal" class="sliderVal" readonly style="color:#000000;">
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        Mobile App
      </div>
      <div class="col-md-6" id="MobileAppSlider"></div>
      <div class="col-md-1">
        <input type="text" id="mobileVal" class="sliderVal" readonly style="color:#000000;">
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        Game Development
      </div>
      <div class="col-md-6" id="gameDevSlider"></div>
      <div class="col-md-1">
        <input type="text" id="gameDevVal" class="sliderVal" readonly style="color:#000000;">
      </div>
    </div>

    <h3> How Proficent are you with the following Launguages: </h3>
    <h4> Never heard of it  to  I am a master </h4>

    <div class="row">
      <div class="col-md-5">
        JavaScript
      </div>
      <div class="col-md-6" id="javaScriptSlider"></div>
      <div class="col-md-1">
        <input type="text" id="javaScriptVal" class="sliderVal" readonly style="color:#000000;">
      </div>
    </div>

  <div class="row">
    <div class="col-md-5">
      PHP
    </div>
    <div class="col-md-6" id="PHPSlider"></div>
    <div class="col-md-1">
      <input type="text" id="PHPVal" class="sliderVal" readonly style="color:#000000;">
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      Python
    </div>
    <div class="col-md-6" id="pythonSlider"></div>
    <div class="col-md-1">
      <input type="text" id="pythonVal" class="sliderVal" readonly style="color:#000000;">
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      Java
    </div>
    <div class="col-md-6" id="javaSlider"></div>
    <div class="col-md-1">
      <input type="text" id="javaVal" class="sliderVal" readonly style="color:#000000;">
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      Ruby
    </div>
    <div class="col-md-6" id="rubySlider"></div>
    <div class="col-md-1">
      <input type="text" id="rubyVal" class="sliderVal" readonly style="color:#000000;">
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      C
    </div>
    <div class="col-md-6" id="cSlider"></div>
    <div class="col-md-1">
      <input type="text" id="cVal" class="sliderVal" readonly style="color:#000000;">
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      C#
    </div>
    <div class="col-md-6" id="cSharpeSlider"></div>
    <div class="col-md-1">
      <input type="text" id="cSharpeVal" class="sliderVal" readonly style="color:#000000;">
    </div>
  </div>

  <h3> Any APIs you want to Use? </h3>
  <h4> No interest to Dying to try it </h4>

  <div class="row">
    <div class="col-md-5">
      Microsoft
    </div>
    <div class="col-md-6" id="microsoftSlider"></div>
    <div class="col-md-1">
      <input type="text" id="microsoftVal" class="sliderVal" readonly style="color:#000000;">
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      Bloomberg
    </div>
    <div class="col-md-6" id="bloombergSlider"></div>
    <div class="col-md-1">
      <input type="text" id="bloombergVal" class="sliderVal" readonly style="color:#000000;">
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      MongoDB
    </div>
    <div class="col-md-6" id="mongoDBSlider"></div>
    <div class="col-md-1">
      <input type="text" id="mongoDBVal" class="sliderVal" readonly style="color:#000000;">
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      Google
    </div>
    <div class="col-md-6" id="googleSlider"></div>
    <div class="col-md-1">
      <input type="text" id="googleVal" class="sliderVal" readonly style="color:#000000;">
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      Viacom
    </div>
    <div class="col-md-6" id="viacomSlider"></div>
    <div class="col-md-1">
      <input type="text" id="viacomVal" class="sliderVal" readonly style="color:#000000;">
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      DigitalOcean
    </div>
    <div class="col-md-6" id="digitalOceanSlider"></div>
    <div class="col-md-1">
      <input type="text" id="digitalOceanVal" class="sliderVal" readonly style="color:#000000;">
    </div>
  </div>
</div>
</form>
  <button id="submitForm" class="btn btn-lg btn-default">Add Me!</button>

  {{> footer}}

</template>
