<template name="form">

  {{> header}}

  <form>
    <div class="form-group">
        <input type="name" class="form-control" id="inputName" placeholder="Name?  ex. Matt Smith">
    </div>
    <div class="form-group">
        <input type="phoneNumber" class="form-control" id="inputNumber" placeholder="Phone Number?   ex. 5551234566">
    </div>

  <h2>So what are you interested in?</h2>
  <h4>Not very interested  to  I'm all about that life </h4>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        Web Development
      </div>
      <div class="col-md-6" id="webDevSlider"></div>

    </div>
    <div class="row">
      <div class="col-md-5">
        Data Science
      </div>
      <div class="col-md-6" id="DataScienceSlider"></div>

    </div>
    <div class="row">
      <div class="col-md-5">
        Virtual Reality
      </div>
      <div class="col-md-6" id="virtualRealitySlider"></div>

    </div>
    <div class="row">
      <div class="col-md-5">
        Hardware
      </div>
      <div class="col-md-6" id="hardwareSlider"></div>

    </div>
    <div class="row">
      <div class="col-md-5">
        Mobile App
      </div>
      <div class="col-md-5" id="MobileAppSlider"></div>

    </div>
    <div class="row">
      <div class="col-md-5">
        Game Development
      </div>
      <div class="col-md-6" id="gameDevSlider"></div>

    </div>
    <h3> How Proficent are you with the following Launguages: </h3>
    <h4> Never heard of it  to  I am a master </h4>
    <div class="row">
      <div class="col-md-5">
        JavaScript
      </div>
      <div class="col-md-6" id="javaScriptSlider"></div>
  </div>
  <div class="row">
    <div class="col-md-5">
      PHP
    </div>
    <div class="col-md-6" id="PHPSlider"></div>
  </div>
  <div class="row">
    <div class="col-md-5">
      Python
    </div>
    <div class="col-md-6" id="pythonSlider"></div>
  </div>
  <div class="row">
    <div class="col-md-5">
      Java
    </div>
    <div class="col-md-6" id="javaSlider"></div>
  </div>
  <div class="row">
    <div class="col-md-5">
      Ruby
    </div>
    <div class="col-md-6" id="rubySlider"></div>
  </div>
  <div class="row">
    <div class="col-md-5">
      C
    </div>
  <div class="col-md-6" id="cSlider"></div>
  </div>
  <div class="row">
    <div class="col-md-5">
      C#
    </div>
    <div class="col-md-6" id="cSharpeSlider"></div>
  </div>
  <h3> Any APIs you want to Use? </h3>
  <h4> No interest to Dying to try it </h4>
  <div class="row">
    <div class="col-md-5">
      Microsoft
    </div>
    <div class="col-md-6" id="microsoftSlider"></div>
  </div>
  <div class="row">
    <div class="col-md-5">
      Bloomberg
    </div>
    <div class="col-md-6" id="bloombergSlider"></div>
  </div>
  <div class="row">
    <div class="col-md-5">
      MongoDB
    </div>
    <div class="col-md-6" id="mongoDBSlider"></div>
  </div>
  <div class="row">
    <div class="col-md-5">
      Google
    </div>
    <div class="col-md-6" id="googleSlider"></div>
  </div>
  <div class="row">
    <div class="col-md-5">
      Viacom
    </div>
    <div class="col-md-6" id="viacomSlider"></div>
  </div>
  <div class="row">
    <div class="col-md-5">
      Digital Ocean
    </div>
    <div class="col-md-6" id="digitalOceanSlider"></div>
  </div>
</div>
</form>
  <button id="submitForm" class="btn btn-lg btn-default">Add Me!</button>

  {{> footer}}

</template>
